body{
    width: 100%;
    height: 100vh;
    font-family: 'Nunito Sans', sans-serif;
}
.header .navbar{
display: flex;
}
.header .navbar .link-container {
        width: fit-content;
}

.header .navbar .link-container .link{
    display: inline-block;
    margin-right: 56px;
}

.content {
    width: 100%;
    height: 100%;
    background-color: darkgreen;
}
