body{
    width:100%;
    height:100vh;
    font-family: 'Noto Sans TC', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
}
.header .navbar {
    display: flex;
    align-items: center;
}

.header .navbar .link-container {
    margin-left: auto;
    width: fit-content;
}
.header .navbar .menu-container {
    margin-right: 60px;
    width: fit-content;
}
.header .navbar .link-container .link {
    display: inline-block;
    margin-right: 56px;
    /* padding-top: 10px; */
    /* padding-bottom: 10px; */
    /* margin-bottom: 0px; */
}

.content {
    width: 100%;
    height: 100%;
    background-color: white;
}

.content .map-information {
    width: 900px;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    margin-left: 300px;
    margin-top: 300px;
}

.content .map-information .card {
    width: 400px;
    margin-top: 50px;
} 

.content .map-information .card .card-header {
    display: flex;
    align-items: center;
}

.content .map-information .card .card-header .google-link {
    margin-left: auto;
}

.content .map-information .card .divider {
    border: solid 1px black;
    width: 100%;
}

.content .map-information .card .address-container {
    display: flex;
    margin: 16px 0;
}

.content .map-information .card .telephone-container {
    display: flex;
}

.content .map-information .card img {
    margin-right: 5px;
}

.content .map-information .store-name {
    /* display: flex; */
    font-size: 18px;
    font-weight: bold;
    padding: 20px 0px;
}

.order-button-container {
    position: fixed;
    right: 100px;
    bottom: 50px;
    background-color: white;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    padding: 20px;
    width: 50px;
    height: 50px;
    border: solid #eed7b0;
}

.order-button-container .wrapper {
    position: relative;
    width: 100px;
    height: 100px;
}

.order-button-container .wrapper .oder-cute-image {
    position: absolute;
    width: 60px;
    right: 8px;
    bottom: 0px;
}

.order-button-container .wrapper .oder-text-image {
    position: absolute;
    width: 20px;
}

.footer {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    background-color:#005850;
}
.footer .footer-unocha {
    margin: 50px 50px 50px 50px;
}

.footer .block {
    display: flex;
    flex-direction: column;
    padding: 50px 70px 50px 70px;
    margin-left: auto;
    align-items: flex-end;
}

.footer .block .footer-logo-cn {
    width: fit-content;
}

.footer .block .footer-logo-en {
    width: fit-content;
    margin-top: 50px;
}